@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Permanent+Marker&display=swap');

.count{
  font-family: 'Merienda One', cursive;
  font-size: xxx-large;
}

span{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#eee, #333); */
}

.para{
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  background-image: linear-gradient(to right, #f45f00, #cc7800, #9d8900, #679300, #06980c);
}

body{
    height: 100vh;
    display: flex;    
    justify-content: space-around;
    margin: 0;    
    background-image: linear-gradient(to left, #ffeee8, #ffead3, #f7ebbf, #dcefb4, #b0f4b9);
}
