@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Permanent+Marker&display=swap');

.count{
  font-family: 'Merienda One', cursive;
  font-size: xxx-large;
}

span{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#eee, #333); */
}

.para{
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle, #3253c8, #7175d0, #9d99d8, #c3bfe0, #e7e7e7);
}

body{
    height: 100vh;
    display: flex;    
    justify-content: space-around;
    margin: 0;
    background-image: linear-gradient(to right top, #10071e, #612146, #b6423e, #d88f00, #a8eb12);
}